doctype html
html
  head
    title #{title}
  body
    h1 #{title}
    a(href='/') Voltar
    table
      thead
        tr
          th Designação
          th Categoria
          th Quantidade
      tbody
        each produto in lista.produtos
          tr
            td #{produto.designacao}
            td #{produto.categoria}
            td #{produto.quantidade.valor} #{produto.quantidade.unidade}
