doctype html
html
  head
    title #{title}
  body
    h1 #{title}
    a(href='/') Voltar
    table
      thead
        tr
          th Lista ID
          th Designação
          th Data
          th Quantidade
      tbody
        each lista in listas
          tr
            td
              a(href=`/listas/${lista._id}`) #{lista._id}
            td #{lista.designacao}
            td #{lista.data}
            td #{lista.produtos.find(p => p._id === produto._id).quantidade.valor} #{produto.quantidade.unidade}
